body{
	font-family: 'Kaushan Script', cursive;
	color: #FFF;
	background-image: url('../images/background.jpeg');
	background-repeat: no-repeat;
	background-position: center center fixed;
  	background-size: cover;
}



div#questionArea {
	background-color: #8D8562;
	width: 60%;
	height: 435px;
	margin: 70px auto;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 4px;
	text-align: center;
	border-radius: 30px;
	opacity: 0.9;
	box-shadow: 8px 8px 6px #808080;
}


.imgDiv{
	margin-top: 10px;
	margin-left: 90px;
	border-radius: 10px;
}


h1 {
	font-size: 28pt;
	text-align: center;
	margin-top: 30px;
}

p {
	font-size: 13pt;
}


span#gold {
	color: #FFD700;
}	

#btnWrapper	{
	text-align: center;
	margin-top: 125px;
}

button#begin {
	width: 200px;
	background-color: #FFD700;
	text-shadow: none;
	border-radius: 2px;
	font-size: 11pt;
	font-weight: bold;
	border-radius: 10px;
}

button#begin:hover {
	color: #FFD700;
	background-color: #000;
}			  	

.btn-default {
	background-image: none;
}			  

div#gameStart {
	display: none;
	margin-top: 20px;
}	

#divAnswers {
	display: none;
}

p.timeRemaining {
	text-align: center;
	font-size: 14pt;
	margin-bottom: 20px;
	margin-top: 25px;
}

span#time {
	font-weight: bold;
}

button.answers{
	color: #FFD700;
	font-weight: bold;
	width: 35%;
	margin: 10px 20px;
	cursor: pointer;
	background: black;
	border-radius: 10px;
	float: left;
	padding: 7px;
}

.headerImage{
	margin-left: 500px;
}

.text{
	margin: 0 auto;
	background: #8D8562;
	color: black;
	width: 80%;
	line-height: 160%;
	font-size: 22px;
	font-family: 'Kaushan Script', cursive;
	border-radius: 12px;
	clear: both;
	margin-top: 15px;
}
button.answers:hover {
	color: #FFF;
	}

#correctMovieImage	{
	margin-bottom: 10px;
	height: 200px;
	width: 200px;
	opacity: 1;	
}

#gameComplete {
	display: none;
	margin-top: 20px;
}

div#restartPlaceholder button {
width: 200px;
background-color: #FFD700;
text-shadow: none;
border-radius: 2px;
font-size: 11pt;
font-weight: bold;
margin-top: 20px;
border-radius: 10px;
}

div#restartPlaceholder button:hover
 {
 	color: #FFD700;
 	background-color: #000;
 }